@use 'config';
@use 'home';
@use 'responsive';

body {
  font-family: Arial, Helvetica, sans-serif;
  background: config.$primary-color;
  line-height: 1;
}

a {
  text-decoration: none;
  color: config.$text-secondary;
}

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}

header {
  width: 100%;
  overflow: hidden;
  padding-right: 2rem;
  padding-left: 2rem;
}

main {
  width: 100%;
  padding: 1.5rem 0;
}
